.react-datepicker {
  background-color: #001c44;
  color: #f0f9ff;
  border: 1px solid #012a5e;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.react-datepicker__header {
  background-color: #012a5e;
  border-bottom: 1px solid #012a5e;
  color: #f0f9ff;
}
.react-datepicker__current-month {
  color: #f0f9ff;
  font-weight: 600;
}

.react-datepicker__day-name {
  color: #f0f9ff !important;
  font-weight: 500;
}

.react-datepicker__day {
  color: #f0f9ff;
  user-select: none;
  transition: all 0.2s ease;
}
.react-datepicker__day:hover {
  background-color: #06b6d4 !important;
  color: #f0f9ff;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #0891b2;
  color: #f0f9ff;
}

.react-datepicker__day--disabled {
  color: #94a3b8;
  opacity: 0.6;
}
